*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1024px;
    margin: 0 auto;
}


header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("hero-image.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}


.logo img{
    height: 100px;
    width: auto;
    float: left;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    transition: border-bottom 0.2s;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-links li a:hover{
    color: #2ecc71;
    border-bottom: 2px solid #2ecc71;
}


.nav-btn{
    padding: 10px 20px;
    background-color: #2ecc71;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: #27ae60;
}

.hero-text-box{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    color: #fff;

    width: 90%;
    max-width: 800px;
}


.hero-text-box h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-text-box p{
    font-size: 22px;
    margin-bottom: 30px;
}


.btn{
    display: inline-block;
    padding: 12px 30px;
    color: #fff;
    border: 1px solid #2ecc71 ;
    text-decoration: none;
    border-radius: 200px;
}

.btn:hover{
    background-color: #2ecc71;
    color: #fff;
}



